.home-link,
.wls-click,
.wls-row,
.nav a {
  cursor: pointer;
}
.home-link {
  color: #4173dd;
  background-color: #ffffff;
}
header {
  font-family: 'Cinzel' serif;
  font-size: 200%;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin-top: .2em;
}
header a:link,
header a:hover,
header a:visited,
header a:active {
  color: #000000;
  text-decoration: none;
}
body {
  text-align: center;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
.wls-button-panel {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.wls-icon {
  color: #000000;
}
@media (max-width: 375px) {
  .wls-icon {
    margin-right: .5em;
    margin-left: .5em;
  }
}
@media (min-width: 400px) {
  .wls-icon {
    margin-right: 1em;
    margin-left: 1em;
  }
}
.wls-row {
  border: 1px grey dotted;
  max-width: 80%;
  height: 6em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: left;
  padding-left: 10%;
}
.wls-narration {
  margin-top: 1em;
  text-align: left;
}
.show-icon {
  display: inline;
}
.hide-icon {
  display: none;
}
.modal .modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .modal .modal-dialog {
    z-index: 10000;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
  }
  .modal .modal-dialog .modal-dialog-inner {
    height: 16em;
    padding: 4em;
    margin-left: 8em;
    display: block;
  }
  .modal .modal-dialog .modal-dialog-inner .modal-button-panel {
    margin-left: 8em;
    display: block;
  }
  .modal .modal-dialog .modal-dialog-button {
    margin: 1em;
  }
  .modal .modal-dialog .modal-dialog-row {
    border: 1px dotted grey;
    width: 20em;
    height: 3em;
    margin: 1em;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-left,
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-right {
    position: relative;
    display: inline;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-left {
    width: 4em;
    float: left;
    margin-right: 2em;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-right {
    width: 6em;
    float: right;
    margin-right: 1em;
    margin-top: .2em;
  }
}
@media (max-width: 767px) {
  .modal .modal-dialog {
    z-index: 10000;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
  }
  .modal .modal-dialog .modal-dialog-inner {
    height: 90%;
    padding: 1%;
    margin-left: 2%;
    display: block;
  }
  .modal .modal-dialog .modal-dialog-inner .modal-button-panel {
    margin-left: 10%;
    display: block;
  }
  .modal .modal-dialog .modal-dialog-button {
    margin: .5em;
  }
  .modal .modal-dialog .modal-dialog-row {
    border: 1px dotted grey;
    width: 90%;
    height: 12%;
    margin: .5em;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-left,
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-right {
    position: relative;
    display: inline;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-left {
    width: 20%;
    float: left;
    margin-right: 2em;
  }
  .modal .modal-dialog .modal-dialog-row .modal-dialog-pull-right {
    width: 25%;
    float: right;
    margin-right: .5em;
    margin-top: .2em;
  }
}
